recursive-include src/design3d/assets *.html *.js *ts *jpg *png
include src/design3d/*.pyx
include src/design3d/*.pxd
include src/design3d/nurbs/*.pyx
include src/design3d/nurbs/*.pxd
exclude src/design3d/*.c
prune .git
include pyproject.toml
